*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pare-orange: hsl(25, 100%, 94%);
  --dark-blue: rgb(29, 32, 37);
  --dark-grayish-blue: rgb(104, 112, 125);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);

  --text-primary: "Kumbh Sans", sans-serif;
  /* - Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
}

html,
body {
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: var(--text-primary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
}

nav img {
  display: block;
  width: 27px;
}

.flex-container {
  display: flex;
  align-items: baseline;
  gap: 15px;
}
.brandname {
  font-size: 3.2rem;
  font-weight: 700;
}

.mx-2 {
  margin-left: 15px;
  margin-right: 15px;
}

.menu-list {
  width: 70%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--white);
  padding: 20px;
  font-weight: 700;
  z-index: 10;
}

.menu-list ul {
  list-style-type: none;
  padding: 0;
}
.menu-list li {
  margin: 16px 0;
}
.menu-list svg {
  margin-bottom: 40px;
}

.menu-icon,
.close-icon,
.cart {
  cursor: pointer;
  transform: scale(1.1);
  width: 23px;
}
.menu-icon:hover,
.close-icon:hover,
.cart:hover,
.menu-icon:active,
.close-icon:active,
.cart:active {
  transform: scale(0.9);
}
.cart {
  width: 35px;
}
.product-brand {
  color: var(--dark-grayish-blue);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.product-info {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}
.product-item,
.product-price {
  font-weight: 700;
  font-size: 3rem;
}
.product-discount {
  background-color: var(--dark-blue);
  color: var(--white);
  display: inline-block;
  padding: 5px 7px;
}
.product-price-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-original-cost {
  color: var(--dark-grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}
.btn-primary {
  width: 100%;
  padding: 15px 0;
  justify-content: center;
  gap: 15px;
  color: var(--dark-blue);
  font-weight: 700;
  background-color: var(--orange);
  border: 0;
  border-radius: 12px;
}
.btn-primary:hover,
.btn-primary:active {
  font-size: 1.4rem;
  background-color: rgba(255, 125, 26, 0.9);
}
.product-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  margin-bottom: 15px;
  background-color: var(--light-grayish-blue);
}
.product-counter span {
  display: inline-block;
}
.product-total-count {
  font-weight: 700;
}
.increment,
.decrement {
  font-size: 3rem;
  color: var(--orange);
  font-weight: 700;
  cursor: pointer;
}
.increment:hover,
.decrement:hover,
.increment:active,
.decrement:active {
  transform: scale(0.9);
  opacity: 0.9;
}
#cart {
  position: relative;
}
.cart-total-products {
  position: absolute;
  top: -25px;
  right: 10px;
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 1.2rem;
  background-color: var(--orange);
  color: var(--white);
}
.cart-list {
  margin: 7px;
  padding-bottom: 25px;
  background-color: var(--white);
  position: absolute;
  z-index: 10;
  width: 97%;
  filter: drop-shadow(0px 10px 8px rgb(199 204 212));
}
.cart-img-container {
  width: 60px;
}
.cart-empty {
  padding: 40px 40px;
  display: flex;
  justify-content: center;
}
.cart-list-heading {
  border-bottom: 3px solid var(--light-grayish-blue);
}

.carousel-control {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-icon {
  padding: 8px 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
}
.carousel-control-icon:hover,
.carousel-control-icon:active {
  transform: scale(0.9);
}
.nav-menu-list {
  display: none;
}

.desktop-carousel {
  display: none;
}
.desktop-carousel-slider {
  display: none;
}
/* .product-carousel {
  display: flex;
  justify-content: space-between;
} */

.thumbnail_light {
  opacity: 0.7;
  border: 5px solid var(--orange);
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 10px;
}
.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-2 {
  padding-left: 15px;
  padding-right: 15px;
}
.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-2 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.mb-2 {
  margin-bottom: 15px;
}
.mb-3 {
  margin-bottom: 25px;
}
.img_responsive {
  width: 100%;
}
.text_gray {
  color: var(--dark-grayish-blue);
}
.text_bold {
  font-weight: 700;
}
.text_dark {
  color: var(--dark-blue);
}

.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
.pos_relative {
  position: relative;
}
.w-25 {
  width: 25%;
}

/* || Media Screen  */
@media screen and (min-width: 800px) {
  html,
  body {
    height: 100%;
  }
  nav {
    max-width: 1000px;
    margin: 0 auto;
  }
  .menu-icon {
    display: none;
  }
  .nav-menu-list {
    display: block;
    width: 100%;
    position: relative;
    background-color: transparent;
    padding: 20px;
    font-weight: 700;
  }
  .nav-menu-list ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    color: var(--grayish-blue);
  }

  .mobile-carousel {
    display: none;
  }
  .desktop-carousel {
    display: block;
    /* max-width: 500px; */
  }

  .product-thumbnail-img {
    display: flex;
    justify-content: space-between;
  }
  .product-thumbnail-img img {
    width: 24%;
  }

  .product-main-container {
    max-width: 1000px;
    display: flex;
    margin: auto;
    padding: 0 30px;
    align-items: center;
  }
  .container {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
  }

  .desktop-carousel-slider {
    display: block;
    position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .desktop-carousel-slider .close-icon {
    position: absolute;
    right: 0;
    top: -30px;
  }
  .desktop-slide-container {
    background-color: rgb(29 32 37 / 80%);
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
  }
  .desktop-slide-container .carousel-control {
    transform: translateY(-200%);
  }
  .cart-list {
    width: 500px;
    /* right: 70px; */
    z-index: 5;
  }
  .cart-list-container {
    width: 1000px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  .product-item {
    font-size: 4.2rem;
  }
}
